@media (max-width: 1000px) {
	header #icon {
		width: 130px;
		height: 130px;
		margin-left: 41px;
	}
}

@media (max-width: 768px) {
    #icon {
        width: 100px;
        height: 100px;
        right: 30px;
        border: 3px solid #ec971f;
    }
    
    #menu .container {
        padding-right: 0;
        margin-right: -15px;
    }
    
    #menu #responsiveMenu {
        top: 1px;
        padding: 0;
    }
    
    #menu #responsiveMenu .nav {
        float: none;
        margin: 0;
    }
    
    #menu #responsiveMenu ul,
    #menu #responsiveMenu p {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }
}