@media (min-width: 768px) {
    #menu #responsiveMenu .dropdown-menu .optionMenu {
        padding: 5px 10px;
    }
}

@media (max-width: 992px) {
    #detailsModal .modal-body span {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 120px;
    }
    
    #icon {
        width: 100px;
        height: 100px;
        right: 30px;
        border: 3px solid #ec971f;
    }
    
    #menu .container {
        padding-right: 0;
        margin-right: -15px;
    }
    
    #menu #responsiveMenu {
        top: 1px;
        padding: 0;
    }
    
    #menu #responsiveMenu .nav {
        float: none;
        margin: 0;
    }
    
    #menu #responsiveMenu ul,
    #menu #responsiveMenu p {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    #menu #responsiveMenu .dropdown-menu {
        background: #FEFEFE;
    }
    
    #menu #responsiveMenu .dropdown-menu .divider {
        margin: 0;
    }
    
    #menu #responsiveMenu .dropdown-menu a,
    #menu #responsiveMenu .dropdown-menu .action {
        padding: 10px 0;
    }
    
    #menu #responsiveMenu .dropdown-menu .action {
        color: #777;
    }
}

@media (max-width: 550px) {
	#registerOption {
		display: block;
		margin: 10px auto;
		float: none;
	}
	
	#registerOption button {
		margin: auto;
		float: none;
	}
	
	#registerOption ul {
		left: calc(50% - 128px);
	}
}

@media (max-width: 500px) {
	h1 a {
		font-size: 35px;
	}
	
	#icon {
		top: 0 !important;
		width: 80px;
		height: 80px;
	}
}

@media (max-width: 370px) {
	h1 a {
		font-size: 28px;
	}
}

@media (max-width: 330px) {
	h1 a {
		font-size: 22px;
	}
}